<center><h1>MINERIA DE DATOS</h1>
<strong>Taller Distancias</strong><br />
PROFESORA ELIZABETH LEON GUZMAN <br />
<strong>TEMA</strong> Distancias</center>

-------

## Distancias

Dados los ejemplos numéricos A={1,0,2,5,3} y B={2,1,0,3,-1}, encontrar:

a) La distancia euclideana

b) La distancia city-block

c) La distancia Minkowski para p=3

In [ ]:
from sklearn.metrics.pairwise import euclidean_distances
from scipy.spatial.distance import cityblock, minkowski, euclidean
from scipy.spatial import distance
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.cm as cm
import pandas as pd

#Carga de datos:
A = [[1,0,2,5, 3]]
B = [[2,1,0,3,-1]]

# Calculamos la similitud entre cada punto del dataset
distancias = [[euclidean(A,B), cityblock(A,B), minkowski(A,B, p=3)]]
d = pd.DataFrame(distancias,columns=['euclideana','cityblock','minkowski'])
d

   euclideana  cityblock  minkowski
0     5.09902         10   4.344481

**Ejercicio 1**
1. Calcular la distancia coseno, correlacion y chevishev
2. ¿Qué puede decir de los resultados de las diferentes distancias? Incluyendo las incluidas en el ejemplo

**Ejercicio 2**

Se desea encontrar estudiantes similares de acuerdo a las nota que han obtenido en la asignatura. A es el top de estudiantes con notas de 100, 100, 100 para Matemáticas, Química y Computación, respectivamente. B es un estudiante con notas de 50, 50, 50. C es otro estudiante con notas 70, 70, 70. 
¿Cuál es la similitud coseno entre ellos? ¿Cuál es la distancia Euclideana? ¿Qué concluye?


**Ejercicio 3**

Se tienen dos objetos (dos puntos) en un espacio bidimensional.

* Calcular la distancia euclideana entre los dos objetos
* Calcular la similitud coseno entre los dos objetos
* Si se normalizan los vectores para que la norma = 1. ¿cuál es la similitud coseno? ¿cuál es la distancia euclideana? ¿Qué concluye?



![vectores.png]()

**Ejercicio 4** 

Dado los ejemplos categóricos C={A,B,A,B,A,A} y D={B,B,A,B,B,A}, encontrar:

a) La similaridad usando SMC (Simple matching coefficient)

b) La similaridad usando Jaccard

c) La similaridad usando el Coeficiente de Rao

**Ejercicio 5**

Se tiene un conjunto de datos de calificaciones de películas dadas por usuarios, como se muestra a continuación:

In [1]:
import pandas as pd

titulos = ['usuario','El viaje de Chihiro','Star Wars','The Matrix','Advengers','Malefica']
puntajes = [['juan',1,5,5,4,2],['ana',2,4,5,3,2],['luis',2,4,4,5,3],['jorge',4,2,2,3,5],['maría',5,1,2,3,4],['oscar',4,2,1,4,5],['mariana',3,5,5,5,3]]
peliculas = pd.DataFrame(puntajes,columns=titulos)
peliculas

   usuario  El viaje de Chihiro  Star Wars  The Matrix  Advengers  Malefica
0     juan                    1          5           5          4         2
1      ana                    2          4           5          3         2
2     luis                    2          4           4          5         3
3    jorge                    4          2           2          3         5
4    maría                    5          1           2          3         4
5    oscar                    4          2           1          4         5
6  mariana                    3          5           5          5         3



*   Construir la matriz con las distancias euclideanas
*   Calcular la matriz de similitud usando coseno
*   ¿Es necesario normalizar el conjunto de datos para calcular las distancias o esta no influye? Justifique la respuesta.

**Ejercicio 6**


Se tiene el siguiente conjunto de datos:

In [2]:
import pandas as pd

titulos = ['usuario','edad','altura','peso','ciudad','genero']
puntajes = [['juan',19,1.70,60,'Bogotá','M'],
            ['ana',22,1.68,58,'Cali','F'],
            ['luis',25,1.81,70,'Bogotá','M'],
            ['jorge',24,1.78,71,'Medellín','M'],
            ['maría',24,1.65,68,'Cali','F'],
            ['oscar',20,1.72,71,'Medellín','M'],
            ['mariana',23,1.55,65,'Bogotá','F']]
personas = pd.DataFrame(puntajes,columns=titulos)
personas

   usuario  edad  altura  peso    ciudad genero
0     juan    19    1.70    60    Bogotá      M
1      ana    22    1.68    58      Cali      F
2     luis    25    1.81    70    Bogotá      M
3    jorge    24    1.78    71  Medellín      M
4    maría    24    1.65    68      Cali      F
5    oscar    20    1.72    71  Medellín      M
6  mariana    23    1.55    65    Bogotá      F

*   Calcular la similaridad de Gower
*   Calcular la similitud combinando pesos a cada uno de los atributos.